body {
    width: 100%;
    height: 100vh;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) repeat(2, 150px) repeat(2, 1fr);
}

#red-btn { grid-area: 1 / 1 / 4 / 4; }
#green-btn { grid-area: 1 / 4 / 4 / 7; }
#blue-btn { grid-area: 4 / 1 / 7 / 4; }
#yellow-btn { grid-area: 4 / 4 / 7 / 7; }
.score-div { grid-area: 3 / 3 / 5 / 5; position: relative; z-index: 10;} 

button {
    outline: none;
}

#red-btn {    background-color: rgb(255, 0, 0); }
#green-btn {  background-color: rgb(0, 128, 0); }
#blue-btn {   background-color: rgb(0, 0, 255); }
#yellow-btn { background-color: rgb(255, 255, 100); }

.lit {
    box-shadow: inset 0 0 100px 30px rgba(0, 0, 0, 0.5);
    filter: brightness(67%);
}

.score-div {
    border-radius: 9999px;
    box-shadow: 0 0 50px 10px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    user-select: none;

    background-color: #6b5750;
    color: white;
}

.spans {
    color: inherit;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    font-size: x-large;
}

.score-div button {
    color: inherit;
    background-color: #36ff24;
    width: 93%;
    height: 48%;
    border-bottom-left-radius: 999px;
    border-bottom-right-radius: 999px;
    margin-bottom: -10px;

    font-size: xxx-large;
    text-transform: uppercase;
}


.score-div button:active {
    background-color: rgb(122, 122, 122);
    color: black;
}

.hide {
    display: none;
}
